body {
    background-color: #121121;
    color: #93b7be;
    font-family: monospace;
}
h1 {
    font-size: 60px;
    color: #d4f5f5;
}
p {
    color: #93b7be;
}
a {
    color: #93b7be;
    text-decoration: none;
}
a:hover {
    color: #d4f5f5;
    text-decoration: none;
}

hr {
    border-color: #8c9a9e;
}
footer {
    color: #93b7be;
    text-align: center;
}

.header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 40px;
    column-gap: 60px;
    padding: 30px;
    max-width: 100rem;
    min-height: 60rem;
    margin: 0 auto;
}
.grid-container > section {
    border-radius: 2px;
    outline: #8c9a9e solid 2px;
    font-size: 20px;
}

.nowrap {
    white-space: nowrap;
}
.postitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    column-gap: 20px;
    outline: #8c9a9e solid 2px;
    margin: 5px 5px 20px;
    border-radius: 2px;
}

.postinfo {
    font-size: 12px;
    text-align: right;
    margin-left: 10px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #93b7be;
}
#posts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #93b7be;
    grid-column: 2;
    grid-row: 1 / span 2;
}

#fun {
    padding: 40px;
    color: #93b7be;

}
#logo {
    text-align: center;
    font-size: 30px;
    color: #d4f5f5;
}
#links {
    text-align: center;
}
#navbar {
    color: #93b7be;
    font-size:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
border-radius: 5px;
background: #8c9a9e; 
}
::-webkit-scrollbar-thumb:hover {
background: #747578; 
}
::-webkit-scrollbar-corner {
background-color: transparent;
}