body {
    background-color: #121121;
    font-family: monospace;
}
h1 {
    font-size: 60px;
    color: #d4f5f5;
}
p {

    color: #93b7be;
}
a {
    color: #d4f5f5;
    text-decoration: none;
}
hr {
    border-color: #8c9a9e;
}
.header {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 60px;
    column-gap: 120px;
    padding: 30px;
    max-width: 100rem;
    min-height: 50rem;
    margin: 0 auto;
}
.grid-container > div {
    border-radius: 10px;
    outline: #8c9a9e solid 1px;
    font-size: 20px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #93b7be;
    min-width: 30em;
}
#projects {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #93b7be;
    grid-column: 2;
    grid-row: 1 / span 2;
}
#fun {
    padding: 40px;
    color: #93b7be;

}
#logo {
    text-align: center;
    font-size: 30px;
    color: #d4f5f5;
}
#links {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
border-radius: 5px;
background: #8c9a9e; 
}
::-webkit-scrollbar-thumb:hover {
background: #747578; 
}
::-webkit-scrollbar-corner {
background-color: transparent;
}